<div class="container" style="margin-top:40px;">
  <div class="form-group" style="margin-bottom:28px;">
    <div class="row">
      <div class="col-md-4">
        <span style="color:lightgray;">NOTIFY ME</span>
      </div>
      <div class="col-md-1">
        <div class="material-switch pull-right" style="margin-top: 10px;">
          <i class="fa fa-mobile" style="font-size: 28px;position: absolute;top: -17px;left: 55px;color: #c7475e;"> </i>
          <span style="color:lightgray; font-size:10px;"> Via Phone</span>
        </div>
      </div>

      <div class="col-md-1">
        <div class="material-switch pull-right" style="margin-top: 10px;">
          <i class="fa fa-envelope-o" style="font-size: 20px;position: absolute;top: -17px;left: 55px;color: #c7475e;"> </i>
          <span style="color:lightgray; font-size:10px;"> Via Email</span>
        </div>
      </div>

    </div>
  </div>
  <div class="form-group" style="margin-bottom:28px;">
    <div class="row">
      <div class="col-md-4">
        To remind me of an upcoming interview
      </div>
      <div class="col-md-1">
        <div class="material-switch pull-right" style="margin-top: 30px;">
          <input id="someSwitchOptionSuccess1" name="someSwitchOption001" type="checkbox" checked />
          <label for="someSwitchOptionSuccess1" class="label-success"></label>
        </div>
      </div>

      <div class="col-md-1">
        <div class="material-switch pull-right" style="margin-top: 30px;">
          <input id="someSwitchOptionSuccess2" name="someSwitchOption002" type="checkbox" checked/>
          <label for="someSwitchOptionSuccess2" class="label-success"></label>
        </div>
      </div>

    </div>
  </div>
  <div class="form-group" style="margin-bottom:28px;">
    <div class="row">
      <div class="col-md-4">
        When i recieve feedback from an interviewer
      </div>
      <div class="col-md-1">
        <div class="material-switch pull-right" style="margin-top: 30px;">
          <input id="someSwitchOptionSuccess3" name="someSwitchOption003" type="checkbox" checked />
          <label for="someSwitchOptionSuccess3" class="label-success"></label>
        </div>
      </div>

      <div class="col-md-1">
        <div class="material-switch pull-right" style="margin-top: 30px;">
          <input id="someSwitchOptionSuccess4" name="someSwitchOption004" type="checkbox" checked />
          <label for="someSwitchOptionSuccess4" class="label-success"></label>
        </div>
      </div>

    </div>
  </div>
  <div class="form-group" style="margin-bottom:28px;">
    <div class="row">
      <div class="col-md-4">
        To remind me to review on interviewer
      </div>
      <div class="col-md-1">
        <div class="material-switch pull-right" style="margin-top: 30px;">
          <input id="someSwitchOptionSuccess5" name="someSwitchOption005" type="checkbox" checked/>
          <label for="someSwitchOptionSuccess5" class="label-success"></label>
        </div>
      </div>

      <div class="col-md-1">
        <div class="material-switch pull-right" style="margin-top: 30px;">
          <input id="someSwitchOptionSuccess6" name="someSwitchOption006" type="checkbox" checked/>
          <label for="someSwitchOptionSuccess6" class="label-success"></label>
        </div>
      </div>
      <div class="col-md-6">
        <img src="./assets/AdminLTE/img/notification1.png" style="margin-left:50px; margin-top:-20px;">
      </div>
    </div>
  </div>

</div>