<form name="sectionAddForm" id="sectionAddForm" data-ng-submit="sectionAddForm.$valid && submit();" style="margin-top:40px;">
  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <input type="text" name='name' data-ng-model='existingpassword' class="form-control used" data-ng-required="true" />
        <span class="highlight"></span>
        <label>EXISTING PASSWORD</label>
      </div>

    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <input type="text" name='questInExam' data-ng-model='password' class="form-control used" data-ng-required="true" />
        <span class="highlight"></span>
        <label>TYPE NEW PASSWORD</label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <input type="text" name='questInExam' data-ng-model='retypepassword' class="form-control used" data-ng-required="true" />
        <span class="highlight"></span>
        <label>RETYPE NEW PASSWORD</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-5 col-md-offset-1" style="margin-top: 10px;">
      <button type="submit" class="btn" style="background-color: #c7475e; color:white;"> Update Password</button>
    </div>
  </div>
  <div class="form-group" style="position:absolute;top: 239px;left: 673px;">
    <div class="col-md-7">
      <img src="./assets/AdminLTE/img/image2.jpg" style="margin-left:50px; margin-top:-20px;">
    </div>
  </div>
</form>